/*FINAL*/
.aboutuscontent{
  margin:40px 110px 110px 110px;
  background:white;
  padding:10px;
}
.headingaboutus{
  margin: 0px;
  padding: 3px;
  background: rgba(255,119,0,0.9);
}
#heading{
  margin: 1px 40px;
}
html,body{
  height:100%;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  background:rgb(233, 237, 236);

  width: 100%;
}
