html,body{
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Francois One', sans-serif;
}
.headingcart{
  margin: 0px;
  padding: 10px;
  background: #FFB404;
}
#headcart{
  margin: 20px 100px 20px 100px;
}
.contentcart{
  margin: 50px 110px 50px 110px;
}
