html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: 'Francois One', sans-serif;
}
li{
  font-weight: bold;
}
.paymentheading{
  margin:0px;
  padding: 10px;
  background: #FFB404;
}
.paymentcontent{
  margin: 40px 100px 40px 100px;
}
#headpayment{
  margin:20px 100px 20px 100px;
}
