body{
  font-family: 'Francois One', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
}
/* ol:first-child{
  font-weight: bold;
} */
.headingprivacy{
  margin:0px;
  padding: 10px;
  background: #FFB404;
}
#privacyhead
{
  margin: 20px 100px 20px 100px;
}
.contentprivacy{
  margin: 20px 110px 20px 110px;
}
