html,body{
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Francois One', sans-serif;
}
.headingwishlist{
  margin: 0px;
  padding: 10px;
  background: #FFB404;
}
#headwishlist{
  margin: 20px 100px 20px 100px;
}
.contentwishlist{
  margin: 50px 110px 50px 110px;
}
button{
  display: inline-block;
  text-align: center;
  background: #FFB404;
  color: white;
  font-size: 12px;
  padding: 14px 28px;
  border-radius: 12px;
}
