html,body
{
height:100%; 
width:100%;
margin:0px;
padding:0px;
background:rgb(233, 237, 236);
font-size:16px;
font-family: 'Montserrat', sans-serif;
}
input{height:20px;}
.headingoffer
{
background: rgba(255,119,0,0.9);
margin: 0px;
padding: 3px;
}
#head
{
margin: 1px 40px;
}
.mainDiv
{
margin:0px;
padding:50px;
display:flex;
flex-flow:row wrap;
justify-content: space-between;
align-items:center;
}
.sideBar
{
width:15%;
align-self:flex-start;
margin-right:50px;
border-radius:5px;
}
.subSideBar
{
background:white;
display:flex;
flex-flow:row nowrap;
justify-content: space-between;
align-items:center;
margin:0px;
cursor:pointer;
opacity:0.6;
padding:4px 15px 4px 15px;
border-bottom:1px solid grey;
/* border-right:1px solid grey; */
width:100%;
}
.subSideBar:first-child
{
opacity:1;
}
.subSideBar:hover
{
opacity:1;
}
.data
{
background:white;
border-radius:5px;
width:70%;
height:500px;
padding:25px;
}
#orderList
{
border:1px solid rgba(255,119,0,0.9);
padding:0px;
margin:0px;
}
.orders,.downloads,.adds
{
width:100%;
display:none;
padding:0px;
}
.orders{display:block;}
#orderList li
{
width:100%;
list-style-type: circle;
margin:10px 30px;
}
#orderList li:first-child
{
list-style-type:none;
margin:0px;
padding:10px 0px;
border-bottom:1px solid grey;
}
.mainWrapper
{
display:flex;
flex-flow:row nowrap;
justify-content: space-around;
align-items:center;
width:100%;
}
.billing,.shipping
{
width:60%;
height:100px;
/* background:rgb(233, 237, 236); */
border-radius:5px;
}
.upper
{
margin:0px;
width:100%;
height:50px;
display:flex;
flex-flow:row nowrap;
justify-content: space-around;
align-items: center;
background:rgb(233, 237, 236);
margin-bottom:2px;
}
.lower
{
margin:0px;
width:100%;
height:50px;
background:rgb(233, 237, 236);
}
.accdet
{
margin:0px;
border:1px solid rgba(255,119,0,0.9);
padding:5px;
display:flex;
flex-flow:column nowrap;
justify-content: space-around;
align-items: flex-start;
display:none;
}
label{
font-weight:bold;
}
