html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  background:rgb(233, 237, 236);
  font-family: 'Montserrat', sans-serif;
}
.headingshop{
  background: rgba(255,119,0,0.9);
  margin: 0px;
  padding: 3px;
}
#head{
  margin: 1px 40px;
}
#headline
{
  margin: 0px 100px 20px 100px;
}
.contentshop{
  display:flex;
  flex-flow:column wrap;
  align-items:center;
  background:white;
  border-radius:2px;
  width:initial;
  margin: 40px 110px 40px 110px;
  padding:0px;
  /* border:2px solid rgb(191, 191, 191); */
}
.relbooks{
padding:0px;
height:500px;
margin:0px;
border-top:5px solid #0cf;
border-bottom:5px solid #0cf;
display:flex;
flex-flow:column nowrap;
align-items: center;
justify-content:center;
}
.sliderRB{
margin:0px;
padding:10px;
display:flex;
flex-flow:row nowrap;
justify-content: center;
}
.sliderRB *
{
cursor:pointer;
}
.sliderRB>div{
flex-shrink:1;
margin:0px;
margin-left:40px;
margin-right:40px;
}
.sliderRB>div:first-child{
    margin:0px;
    margin-left:0px;
    margin-right:10px;
}
.sliderRB>div:last-child{
    margin:0px;
    margin-left:0px;
    margin-right:10px;
}
.pooja,.twohundo,.fivehundo,.tenhundo{
display:flex;
flex-flow:row wrap;
width:240px;
}
/* .twohundo{
display:flex;
flex-flow:row wrap;
width:240px;
}
.fivehundo{
display:flex;
flex-flow:row wrap;
width:240px;
}
.tenhundo{
display:flex;
flex-flow:row wrap;
width:240px;
} */
.label{
width:inherit;
height:0px;
background:black;
align-self:flex-end;
transition:all 300ms;
position:absolute;
padding:0px;
display:flex;
text-align:center;
flex-flow:row wrap;
align-items:center;
justify-content:center;
}
.label p{
margin:0px;
font-size:0px;
font-family: 'Roboto', sans-serif;
position:absolute;
/* color:#dd0033; */
color:white;
font-style:bold;
}
.pooja:hover .label,.twohundo:hover .label,.fivehundo:hover .label,.tenhundo:hover .label{
height:40px;
}
.pooja:hover .label p,.twohundo:hover .label p,.fivehundo:hover .label p,.tenhundo:hover .label p{
font-size:1rem;
}
.pooja img, .twohundo img, .fivehundo img, .tenhundo img{
transition: all 300ms;
transition-timing-function:ease-in-out;
}
.pooja:hover >img,.twohundo:hover >img, .fivehundo:hover >img, .tenhundo:hover >img{
transform:scale(0.9);
}
.productdetails{
  text-align: center;
}
button{
  display:inline-block;
  border-radius: 0px;
  background: rgba(255,119,0,0.9);
  color: black;
  font-family: 'Francois One', sans-serif;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border: 0px;
  margin-top:auto;
}
.product{
  display:flex;
  flex-flow:column wrap;
  width:initial;
  align-items:center;
  justify-content:center;
  text-align: center;
}
.product button{
margin-top:auto;
}

.upperinshop{
  text-align: center;
  font-size: 20px;
  margin:0px;
  margin-bottom:35px;
  width:100%;
  position:sticky;
  height:initial;
  padding:5px 0px 5px 0px;
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content:center;
  /* align-items:  */
  border-bottom: 2px solid rgb(191, 191, 191);
}
.upperinshop div{
margin-left:60px;
margin-right:60px;
}
.upperinshop div:first-child{
margin-left:0px;
}
.upperinshop div:last-child{
margin-right:0px;
}
.shopnav{
  margin: 0px auto;
  cursor:pointer;
  font-size:1em;
  padding: 0px;
  height:initial;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.shopnav:hover #gridView,.shopnav:hover #listView
{
opacity:1;
}
#gridView,#listView
{
opacity:0;
transition-timing-function: ease-in-out;
}
.shopnav i{
margin:0px auto;
padding:5px;
}
.shopnav p{
  margin: 0px auto;
}
.shopperVal{
margin:0px;
padding:0px;
display:flex;
flex-flow:column wrap;
align-items:flex-start;
}
.shopperVal
{
margin:0px;
align-self:flex-start;
}
.shopperMain
{
display:flex;
width:initial;
flex-flow:column wrap;
margin:0px;
padding:0px;
align-items:flex-start;
}
.shopperMain div{margin:0px;padding:0px;}
.shopperMain p{margin:0px;padding:0px;}
.shopper{
margin: 0px;
font-size:1em;
padding: 0px;
height:initial;
display:flex;
flex-flow:row wrap;
align-items:center;
justify-content: center;
position:sticky;
}
.shopper p{
align-self:center;
margin:0px;
margin-right:10px;
}
.shopper form
{
width:100px;
height:15px;
margin:0px;
padding:0px;
}
.shopnavlast
{
margin:0px;
padding:0px;
border-top: 2px solid rgb(191, 191, 191);
width:100%;
margin:0px auto;
padding: 5px 0px 5px 0px;
text-align: center;
/*margin-right:10px;
margin-left:auto; */
}
.shopnavlast p{
padding:3px;
margin:0px;
}
.shopnavdrop{
  margin:0px;
  position:sticky;
  padding:3px;
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content:center;
}
.sortingdropdown{
  display:flex;
  flex-flow:row wrap;
  font-size: 18px;
  /* top:40px */
}
.shopnavarrow{
  /* padding: 10px;
  height: 40px;
  margin: 10px; */
}
.sorting{
  position:absolute;
  display:none;
  /* top:31%;
  left:30%; */
  width:inherit;
  top:25px;left:0px;
  margin: 0px;
  transition:all 250ms;
  color:black;
  background-color: #f1f1f1;
  padding:0px;
  width:180px;
}
.sorting ul{
  z-index:5;
padding:0px;
margin:0px;
}
.sorting li{
  z-index:5;
border-bottom:1px solid grey;
list-style-type: none;
padding:0px;
transition:all 250ms;
margin:2px;
}
.shopnavdrop,.shopnav,.shopper,.shopnavlast{
transition:all 250ms;
opacity:0.7;
}
.shopnavlast a{
text-decoration:none;
transition:all 250ms;
color:black;
opacity:0.7;
}
.sorting li:hover {background-color:rgba(255, 119, 0, 0.9);}
.shopnavdrop:hover .sorting {display: block;position:absolute;}
.sorting:hover .sorting {display: block;position:absolute;}

.shopnavdrop:hover {opacity:1.0;
color:rgba(255, 119, 0, 0.9);
}
.shopnav:hover {opacity:1.0;
color:rgba(255, 119, 0, 0.9);
}
.shopper:hover {opacity:1.0;
color:rgba(255, 119, 0, 0.9);
}
.shopnavlast:hover,.shopnavlast a:hover{opacity:1.0;
color:rgba(255, 119, 0, 0.9);
}
#slider{
cursor:grab;
display:block;
position:absolute;
width:100px;
cursor:grab;
transition:width 250ms;
}
#slider::-webkit-slider-thumb{
display:block;
cursor:inherit;
background:green;
}
#slider::-webkit-slider-runnable-track{
z-index:2;
}

@media only screen and (max-width:440px)
{

    .sliderPG,.sliderRB
    {
    margin:0px;
    padding:0px;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items:center;
    }
    .shopnav{display:none;}
    .sliderPG>div,.sliderRB>div
    {
    margin-bottom:30px;
    }
   
    .upperinshop{
    margin:0px;
    width:100%;
    margin-bottom:20px;
    }
    .upperinshop>div
    {
    margin:0px;
    height:50px;
    }
    .contentshop{
      display:flex;
      flex-flow:column wrap;
      align-items:center;
      background:white;
      border-radius:2px;
      width:350px;
      margin:auto;
      padding:0px;
      /* border:2px solid rgb(191, 191, 191); */
    }
}
.item{
  display: flex;
  border-bottom:1px solid grey;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.itemimage{
  padding: 20px;
}
.itemimage.pooja{cursor:pointer;}
.itemdetails{
  padding: 20px;
  align-items: center;
}
