/* final */
body{
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  background:rgb(233, 237, 236);

}
.suggestionheading{

  background: rgba(255,119,0,0.9);
  margin: 0px;
  padding: 3px;
}
#heading{
  margin: 1px 40px;
}
.suggestioncontent{
  background:white;
  padding:10px;
  margin: 20px 110px 20px 110px;
}
#inputid{
  width:60%;
  height: 30px;
}
textarea{
  width:100%;
  height:150px;
}
ul
{
  list-style-type: none;
  padding: 0px;
}
li{
  padding: 0px;
}
.button{
  display:inline-block;
  border-radius: 0px;
  background: rgba(255,119,0,0.9);
  color: black;
font-family: 'Montserrat', sans-serif;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border: 0px;
  margin-top:auto;

}
