/* FINAL */
html,body{
  margin: 0px;
  width: 100%; 
  background:rgb(233, 237, 236);

  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
.headingcontactus{
  background: rgba(255,119,0,0.9);
  margin: 0px;
  padding: 3px;
}
#headcontactus{
margin: 1px 40px;
}
.contentcontactus{
  margin: 40px 110px 40px 110px;
  background:white;
  padding:10px;
  border-radius:5px;
}
button{
  display:inline-block;
  border-radius: 0px;
  background: rgba(255,119,0,0.9);
  color: black;
  font-family: 'Montserrat', sans-serif;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border: 0px;
  margin-top:auto;
}
input{
width:60%;
height:25px;
margin:auto;
}
textarea{
width:80%;
height:150px;
}
.flexcontents{
display:flex;
flex-direction:column;
flex-wrap:wrap;
justify-content: space-around;
width:500px;
}
.flex1,.flex2,.flex3,.flex4{
margin-bottom:20px;
}
.flexcontents strong{
margin-right:0px;
}
.flexcontents input{
width:400px;
margin:0px;
float:right;
border-radius:5px;
}
