/* FINAL */
html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background:rgb(233, 237, 236);

}
.headingoffer{
  background: rgba(255,119,0,0.9);
  margin: 0px;
  padding: 3px;
}
#head{
margin: 1px 40px;
}
.contentoffer{
  margin: 40px 110px 40px 110px;
  background:white;
  padding:10px;
}
img{
  width: 100%;
  height: 450px;
}
p{
margin: 20px;
}
.offer1,.offer2{
  display: flex;
  align-items: center;
  justify-content: center;
 flex-flow: column wrap;
  }
