/* final */
html,body{
width:100%;
height: 100%;
padding:0px;
margin: 0px;
background:rgb(233, 237, 236);
font-family: 'Montserrat', sans-serif;
}
.headingpd{
  background: rgba(255,119,0,0.9);
  margin: 0px;
  padding: 3px;
}
#head{
margin: 1px 40px;
}
.contentpd{
/* margin: 40px 110px 40px 110px; */
/* overflow:hidden; */
width:80%;
margin:auto;
border:1px solid#d9d9d9;
border-top:0px solid white;
display:flex;
flex-flow:column wrap;
justify-content: space-around;
}
.products{
background:white;
display: flex;
flex-flow: row wrap;
align-items:center;
justify-content: space-between;
margin: 0px;
padding: 0px;
width: 100%;
}
.productimage{
position:sticky;
top:10px;
align-self:flex-start;
bottom:10px;
transition:all 350ms;
left:10px;
height: initial;
z-index:2;
width:initial;
overflow:hidden;
margin:25px auto;
}
.productimage img{
transition: all 500ms;
}
.productdata{
margin:0px;
padding:0px;
align-self:flex-start;
width:50%;

position:relative;
float:none;

display:flex;
flex-flow:column wrap;
align-items:flex-start;
}
.productdata>div{
padding:0px 20px 0px 20px;
}
.sharedetails{
display: flex;
margin:0px;
padding:0px;
border-top:1px solid #d9d9d9;
flex-flow: row wrap;
justify-content:center;
align-content:center;
width:100%;
/* border: 1px solid black; */
}
.sharedetails i{
font-size:1.2em;
margin:15px;
margin-left:20px;
transition:all 150ms;
transform: scale(1) rotate(0deg);
}
.sharedetails i:first-child:hover{
color:rgba(255,119,0,0.9)s;
transform:scale(1.2) rotate(360deg);
}
.sharedetails i:last-child:hover{
color:#003cb3;
transform:scale(1.2) rotate(360deg);
}
.sharedetails i:nth-child(3):hover{
color:#dd1a1a;
transform: scale(1.2) rotate(360deg);
}
.sharedetails i:nth-child(2):hover{
background:black;
color:white;
box-shadow:0px 0px 0px 2px black;
border-radius:2px;
transform:scale(1.1) rotate(360deg);
}
/* .sd1,.sd2,.sd3,.sd4 {
border: 1px solid black;
margin: 10px;
padding: 5px;
transition:all 150ms;
border-radius: 12px;
} */
.sd4:hover{
color:#003cb3;
transform:scale(1.1);
}
.sd2:hover{
color:#262626;
transform:scale(1.1);
}
.sd3:hover{
color:#dd1a1a;
transform:scale(1.1);
}
.sd1:hover{
color:rgba(255,119,0,0.9);
transform:scale(1.1);
}
button{
display:inline-block;
border-radius: 2px;
background: rgba(255,119,0,0.9);
color: black;
font-family: 'Montserrat', sans-serif;
padding: 12px 24px;
text-align: center;
text-decoration: none;
font-size: 14px;
border: 0px;
margin: 0px;
height: 50px;
margin-top:auto;
}
.buttons{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.add{
display: flex;
margin:0px;
flex-direction:row;
justify-content:space-around;
flex-wrap: nowrap;
margin: 15px 0px;
position:relative;
float:none;
}
.add *{
margin:0px;
}
.sub{
cursor:pointer;
display: flex;
border:1px solid black;
border-radius:2px;
margin:0px;
height: 42px;
flex-direction: row;
margin-right:auto;
}
.lao{
display:flex;
flex-flow:column wrap;
align-items:center;
justify-content: center;
width:60%;
transition:all 150ms;
}
.lao:first-child:hover{
background:black;
color:white;
}
.lao:last-child:hover{
background:black;
color:white;
}
.added{
display: flex;
flex-flow:row wrap;
height: 30px;
}
.a{
align-content: center;
justify-content: center;
padding: 3px;
height: 100%;
margin: 0px;
}
.a:first-child:hover{
color:red;
}
.middle{
display: flex;
flex-direction: row;
width:100%;
align-content: center;
justify-content:space-around;
border-top: 1px solid #d9d9d9;
border-bottom: 1px solid #d9d9d9;
font-size: 23px;
}
.BD,.AI{
padding:0px;
transition: all 0.5;
display:flex;
flex-flow:column wrap;
justify-content: flex-start;
width:100%;
}
.BD>*{
margin-left:15px;
}
.AI{
display:none;
}
.AI>*{
margin-left:15px;
}
.m,.n{
padding: 5px;
cursor:pointer;
color:black;
transition: all 500ms;
}
.m{color:rgba(255,119,0,0.9);}
.m p,.n p
{
transition: all 500ms;
border-top:3px solid white;
border-bottom:3px solid white;
padding:0px;
margin:0px;
}
/* .m:hover p{
border-top:3px solid #0cf;
border-bottom:3px solid #0cf;
}
.n:hover p{
border-top:3px solid #0cf;
border-bottom:3px solid #0cf;
} */
.sliderRB{
margin:0px;
background:white;
padding:10px;
display:flex;
flex-flow:row nowrap;
justify-content: center;
}

.sliderRB>div{
flex-shrink:1;
margin:0px;
margin-left:40px;
margin-right:40px;
}
.sliderRB>div:first-child{
margin:0px;
margin-left:0px;
margin-right:10px;
}
.sliderRB>div:last-child{
margin:0px;
margin-left:0px;
margin-right:10px;
}
.pooja,.twohundo,.fivehundo,.tenhundo{
display:flex;
flex-flow:row wrap;
width:240px;
}
.relProducts
{
background:white;
}
.label{
width:inherit;
height:0px;
background:black;
align-self:flex-end;
transition:all 300ms;
position:absolute;
padding:0px;
display:flex;
text-align:center;
flex-flow:row wrap;
align-items:center;
justify-content:center;
}
.label p{
margin:0px;
font-size:0px;
font-family: 'Roboto', sans-serif;
position:absolute;
/* color:#dd0033; */
color:white;
font-style:bold;
}
.pooja:hover .label,.twohundo:hover .label,.fivehundo:hover .label,.tenhundo:hover .label{
height:40px;
}
.pooja:hover .label p,.twohundo:hover .label p,.fivehundo:hover .label p,.tenhundo:hover .label p{
font-size:1rem;
}
.pooja img, .twohundo img, .fivehundo img, .tenhundo img{
transition: all 300ms;
transition-timing-function:ease-in-out;
}
.pooja:hover >img,.twohundo:hover >img, .fivehundo:hover >img, .tenhundo:hover >img{
transform:scale(0.9);
}
.productdetails{
text-align: center;
}
.product{
display:flex;
flex-flow:column wrap;
width:initial;
align-items:center;
justify-content:center;
text-align: center;
}
.restProd{
display:flex;
flex-flow:column wrap;
align-items:center;
justify-content: center;
margin:0px;
width:700px;
border-left:1px solid #d9d9d9;
}
.images
{
  border-radius:4px;height:480px;width:300px;
}
#textPara
{
  margin:0px;padding:0px;width:50px;height:50px;
}
@media only screen and (max-width:440px)
{
  .images{
    height:250px;
    width:150px;
  }
    .sliderPG,.sliderRB
    {
    margin:0px;
    padding:0px;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items:center;
    }
    .sliderPG>div,.sliderRB>div
    {
    margin-bottom:30px;
    }
    .upperinshop>div
    {
    margin:auto;
    }
    .productimage
    {
    position:static;
    }
    .products
    {
    display:flex;
    flex-flow:column wrap;
    }
    .restProd
    {
        border:1px solid #d9d9d9;
    }
    .restProd{
      display:flex;
      flex-flow:column wrap;
      align-items:center;
      justify-content: center;
      margin:0px;
      width:300px;
      border-left:1px solid #d9d9d9;
      }
    .relProducts
    {
    margin:0px auto;
    }
    .middle{
      display: flex;
      flex-direction: row;
      width:100%;
      align-content: center;
      justify-content:space-around;
      border-top: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
      font-size: 23px;
      }
      .BD,.AI{
      padding:0px;
      transition: all 0.5;
      display:flex;
      flex-flow:column wrap;
      justify-content: flex-start;
      width:100%;
      }
      .AI{display:none;}
      .buttons button{width:50%;font-size:0.7rem;}
      .add{
        display: flex;
        margin:0px;
        flex-direction:row;
        justify-content:space-around;
        flex-wrap: nowrap;
        margin: 15px 0px;
        margin-left:100px;
        width:30%;
        position:relative;
        float:none;
        }
        .add *{
        margin:0px;
        }
        #textPara
        {
        width:25px;
        }
}
